---
import type { AggregatorData } from "@/lib/types/aggregator.types"

import Addons from "./mylinks/Addons"
import Links from "./mylinks/Links"

interface Props {
	agg: AggregatorData
}

const { agg } = Astro.props
---

<article class="mt-4 flex flex-col justify-center gap-2 md:ml-10 md:flex-row md:gap-10">
	<section class="flex w-full flex-col gap-4 lg:w-2/6">
		<Addons client:only={true} addons={agg.addons} user={agg.user_name} />
	</section>
	<section class="flex w-full flex-col gap-4 md:flex-row lg:w-4/5">
		<div class="w-full">
			<h2 class="mb-2 text-xl font-semibold text-black dark:text-gray-400">Links</h2>
			<Links client:only={true} links={agg.links} />
		</div>
	</section>
</article>
